<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>blog</h1>
    </header>

    <main>
        <div class="container">
            <article>
                <h3>{{ post.title }}</h3>
                <p>Author: {{ post.author }}</p>
                <p>Language: {{ post.language }}</p>
                {% for paragraph in post.text %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            </article>


        </div>
    </main>

    <footer>
        <p>&copy; 2024 powered by smetanka</p>

        <div class="social-links">
            <a href="{{ telegram_link }}" target="_blank" class="social-icon telegram">
                <i class="fab fa-telegram"></i>
                <span>telegram</span>
            </a>
            <a href="{{ github_link }}" target="_blank" class="social-icon github">
                <i class="fab fa-github"></i>
                <span>github</span>
            </a>
            <a href="{{ telegram_ch_link }}" target="_blank" class="social-icon telegram">
                <i class="fab fa-telegram"></i>
                <span>channel</span>
            </a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/your_fontawesome_kit_id.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
