<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>smetanka's blog</h1>
            <nav>
                <a href="/" class="header-button {% if request.path == '/' %}active{% endif %}">home</a>
                <a href="/blog" class="header-button {% if request.path == '/blog' %}active{% endif %}">blog</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <article>
                <h2>{{ post.title }}</h2>
                <h3>Author: {{ post.author }}</h3>
                <h3>Language: {{ post.language }}</h3>
                {% for paragraph in post.text %}
                <h4>{{ paragraph }}</h4>
                {% endfor %}
            </article>


        </div>
    </main>

    <footer>
        <p>&copy; 2024 powered by smetanka</p>

        <div class="social-links">
            <a href="{{ telegram_link }}" target="_blank" class="social-icon telegram">
                <i class="fab fa-telegram"></i>
                <span>telegram</span>
            </a>
            <a href="{{ github_link }}" target="_blank" class="social-icon github">
                <i class="fab fa-github"></i>
                <span>github</span>
            </a>
            <a href="{{ telegram_ch_link }}" target="_blank" class="social-icon telegram">
                <i class="fab fa-telegram"></i>
                <span>channel</span>
            </a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/your_fontawesome_kit_id.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
